#navwrap #topnav {
  top: 50px;
}
#navwrap #topnav #menu-top-nav {
  margin-top: 15px;
}
#navwrap #topnav .brand .image.logo {
  width: 127px;
  height: 72px;
  background: url('/wp-content/themes/ttv2/img/logo-white.png') no-repeat 0 0;
  background-size: 127px 72px;
}
.btns > .btn {
  color: #ffffff;
}
.header-brand h3 {
  font-size: 24px;
}
.bg-midnight-blue .header-brand h3 {
  color: #ffffff;
}
.image-wrapper img,
.header-2-sub .header-brand .header-brand-wrapper img {
  max-width: 100%;
}
.content-2 .image-wrapper {
  max-width: 600px;
}
.header-2-sub .header-brand .header-brand-wrapper {
  max-width:300px;
}


/*
#navwrap.affix #topnav {
  position: fixed;
  top: 0;
  z-index:10;
}

#navwrap #topnav.affix-top .brand .image.logo {
  width: 84px;
  height: 48px;
  background: url('/wp-content/themes/ttv2/img/logo-white.png') no-repeat 0 0;
  background-size: 84px 48px;
}  
#navwrap.affix-top #topnav {
  position: static;
}
*/

#content {
  margin-top: 100px;
}
.home #content {
  margin-top: 0;
}



.header-17 .navbar .nav > li > a {
  text-transform: uppercase !important;
}

.header-17 .header-background {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 22%, rgba(246,246,246,1) 74%, rgba(216,216,216,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,rgba(255,255,255,1)), color-stop(74%,rgba(246,246,246,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 22%,rgba(246,246,246,1) 74%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 22%,rgba(246,246,246,1) 74%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 22%,rgba(246,246,246,1) 74%,rgba(216,216,216,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 22%,rgba(246,246,246,1) 74%,rgba(216,216,216,1) 100%); /* W3C */
  border-bottom: 2px solid #333;
}
.image.ultraloop {
  background-image: url('/wp-content/themes/ttv2/img/polyplex.png');
  background-repeat: no-repeat;
  width: 930px;
  height: 533px;
  display: inline-block;
  position: absolute;
  right: 50%;
  margin-right: 100px;
  -webkit-box-shadow: 5px -5px 20px 0 rgba(20,5,5,0.3);
  -moz-box-shadow: 5px -5px 20px 0 rgba(20,5,5,0.3);
  box-shadow: 5px -5px 20px 0 rgba(20,5,5,0.3);
}
.content-24 {
  max-height: 550px;
}
.page-wrapper {
  background-color: #ecf0f1;
}